img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.bg-loaded {
    opacity: 1;
}
.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1170px
}

.row.row-collapse {
    max-width: 1140px
}

.row.row-small {
    max-width: 1162.5px
}

.row.row-large {
    max-width: 1200px
}

.header-main {
    height: 91px
}

#logo img {
    max-height: 91px
}

#logo {
    width: 281px;
}

.header-bottom {
    min-height: 44px
}

.header-top {
    min-height: 30px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 141px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.search-form {
    width: 79%;
}

.header-bg-color,
.header-wrapper {
    background-color: rgba(249, 249, 249, 0.9)
}

.header-bottom {
    background-color: #ef8da0
}

.stuck .header-main .nav>li>a {
    line-height: 50px
}

.header-bottom-nav>li>a {
    line-height: 16px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

.header-top {
    background-color: #3d3d3d !important;
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #03c8c5;
}

/* Color !important */
[data-text-color="primary"] {
    color: #03c8c5 !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #03c8c5;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #03c8c5;
}

/* Border */
.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #03c8c5
}

.nav-tabs>li.active>a {
    border-top-color: #03c8c5
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #03c8c5
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #03c8c5
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #03c8c5;
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    background-color: #ef8da0;
}

[data-text-bg="secondary"] {
    background-color: #ef8da0;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #ef8da0
}

/* Color !important */
[data-text-color="secondary"] {
    color: #ef8da0 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #ef8da0
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Helvetica,Arial,sans-serif", sans-serif
}

body {
    font-weight: 0
}

.nav>li>a {
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
}

.nav>li>a {
    font-weight: 700;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

.alt-font {
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
}

.header:not(.transparent) .header-nav.nav>li>a {
    color: #ef8da0;
}

.header:not(.transparent) .header-bottom-nav.nav>li>a {
    color: #ffffff;
}

.header:not(.transparent) .header-bottom-nav.nav>li>a:hover,
.header:not(.transparent) .header-bottom-nav.nav>li.active>a,
.header:not(.transparent) .header-bottom-nav.nav>li.current>a,
.header:not(.transparent) .header-bottom-nav.nav>li>a.active,
.header:not(.transparent) .header-bottom-nav.nav>li>a.current {
    color: #eeee22;
}

.header-bottom-nav.nav-line-bottom>li>a:before,
.header-bottom-nav.nav-line-grow>li>a:before,
.header-bottom-nav.nav-line>li>a:before,
.header-bottom-nav.nav-box>li>a:hover,
.header-bottom-nav.nav-box>li.active>a,
.header-bottom-nav.nav-pills>li>a:hover,
.header-bottom-nav.nav-pills>li.active>a {
    color: #FFF !important;
    background-color: #eeee22;
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 310px !important;
        width: 310px !important;
    }
}

.absolute-footer,
html {
    background-color: #ef8da0
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}
#image_110228001 {
    width: 100%;
}
#image_134076721 {
    width: 100%;
}
#image_1319648927 {
    width: 100%;
}
#image_1228921348 {
    width: 100%;
}
#section_254925614 {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(245, 245, 248);
}
#section_153210049 {
    padding-top: 23px;
    padding-bottom: 23px;
}
#image_651887443 {
    width: 100%;
}

#image_1998689252 {
    width: 100%;
}
#section_1823549511 {
    padding-top: 0px;
    padding-bottom: 0px;
}
#image_1663415945 {
    width: 100%;
}
#image_527865153 {
    width: 100%;
}
#image_1922711012 {
    width: 100%;
}
#section_1823549511 {
    padding-top: 0px;
    padding-bottom: 0px;
}
#section_777413036 {
    padding-top: 0px;
    padding-bottom: 0px;
}
#section_717357950 {
    padding-top: 0px;
    padding-bottom: 0px;
}
#section_699571809 {
    padding-top: 0px;
    padding-bottom: 0px;
}
#section_861027577 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(239, 141, 160);
}
#image_1183756600 {
    width: 100%;
}
#section_1133509363 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(239, 141, 160);
}

#avatar{
    height: 41px;
    width: 41px;
    margin-left: 10px;
    margin-right: 10px;
}	
.img{
    border: 0.1px solid black;
    height: 40px;
    padding: 2px;
}



